{% extends "layout.html" %}
{% block content %}

    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">About Team 2</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- about technologies -->
    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-4 row align-items-center">
                    <h2 class="font-weight-light">Technologies Used</h2>
                </div>
                <div class="col-4">
                    <p class="text-muted">
                        Server Host: AWS - EC2
                        <br> Operating System: Amazon Linux 2/3.3.5
                        <br> Database: MySQL
                        <br> Web Server: nginx/1.20.0
                        <br> Server-Side Language: Python 3.7
                        <br> Additional Technologies: Flask
                        <br> Front-End UI: BootStrap CSS & JS; Jinja
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- team members -->
    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light">Our team</h2>
                    <br>
                </div>
            </div>

            <div class="row text-center">

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0"><a class="nav-link" href="/team/alberto_about">Alberto Ramirez</a></h5><span
                            class="small text-uppercase text-muted">Team
                            Lead</span>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0"><a class="nav-link" href="team/raymond_about">Raymond Zuo</a></h5><span
                            class="small text-uppercase text-muted">Github
                            Master</span>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0"><a class="nav-link" href="team/emily_about">Emily Do</a></h5><span
                            class="small text-uppercase text-muted">Front-End
                            Lead</span>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0"><a class="nav-link" href="team/thomas_about">Thomas He</a></h5><span
                            class="small text-uppercase text-muted">Back-End
                            Lead</span>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0"><a class="nav-link" href="team/abhijai_about">Abhijai Singh</a></h5><span
                            class="small text-uppercase text-muted">Back-End
                            Dev</span>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0"><a class="nav-link" href="team/shailendra_about">Shailendra Hamal</a></h5><span
                            class="small text-uppercase text-muted">Front-End
                            Dev</span>
                    </div>
                </div>
                <!-- End-->
            </div>
        </div>
    </div>
{% endblock %}