{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../../static/inbox.css">

<div>
	<div class="inbox">
		<div class="heading">
			<h1>Messages</h1>
		</div>
		<div class="main__message">
			<div class="user__message__wrapper">
				<div class="user__message">
					<div class="user__pic">
						<img src="../static/images/300.jpg" alt="avatar" />
					</div>
					<div class="user__name">
						<div class="user__data">
							<h4>Alisha K</h4>
							<small>CSC 301</small>
							<br>
							<small>01 Nov 7:20am</small>
						</div>
					</div>
				</div>
				<div class="user__message__preview">
					<p>Lets meet at 5:00! </p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}