{% extends "layout.html" %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<link href="../static/tutor.css" rel="stylesheet">

<div class="container profile">

    <div class="row">
        <div class="col-lg-3 ">
            <div class="card left-profile-card">
                <div class="card-body text-center">
                    <div class="picture">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                            class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                        </svg>
                        <h3 style="padding-top: 20px;">John Doe</h3>
                        <!-- <h3 style="padding-top: 20px;">{{tutor.name}}</h3> -->
                        <p>Tutor</p>
                    </div>

                    <!-- message -->
                    <a href="messages" class="btn btn-warning">Message</a>

                    <div class="personal-info">
                        <h3>Personal Information</h3>
                        <ul class="personal-list">
                            <li><i class="fas fa-genderless"></i><span>Gender: Male</span></li>
                            <li><i class="far fa-envelope "></i><span>Email: xxx@xxxx.com</span></li>
                            <li><i class="fas fa-mobile "></i><span>Phone Number: 1234567</span></li>
                            <!-- 
                                <li><i class="fas fa-genderless"></i><span>Gender: {{tutor.gender}}</span></li>
                                <li><i class="far fa-envelope "></i><span>Email: {{tutor.email}}</span></li>
                                <li><i class="fas fa-mobile "></i><span>Phone Number: {{tutor.phone}}</span></li> 
                            -->
                        </ul>
                    </div>
                    <div class="skill">
                        <h3>Subjects</h3>
                        <p>Computer Science</p>
                        <p>Math</p>
                        <!-- 
                        {% for i in range(0,len) %}
                            <p><li>{{ tutor.subjects[i] }}</li></p>
                        {% endfor %} 
                        -->
                    </div>
                    <div class="languages">
                        <h3>Availability</h3>
                        <p>Monday 3-6 p.m.</p>
                        <p>Thursday 5-8 p.m.</p>
                        <!-- 
                        {% for i in range(0,len) %}
                            <p><li>{{ tutor.availability[i] }}</li></p>
                        {% endfor %} 
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card right-profile-card">
                <div class="card-body">
                    <div class="work-container">
                        <h3>About Me</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                        <!-- <p> {{ tutor.about }} </p> -->
                    </div>
                    <div class="work-container">
                        <h3>Teaching Experience</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                        <!-- <p> {{ tutor.experience }} </p> -->
                    </div>
                    <div class="work-container">
                        <h3>Education</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                        <!-- <p> {{ tutor.education }} </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}