{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../../static/inbox.css">

<div>
	<div class="inbox">
		<div class="heading">
			<h1>Details of {{realName}}</h1>
		</div>
		<div class="main__message view-height">
			<div class="user__message__wrapper">
				<div class="user__message">
					<div class="user__pic">
						<img src="img/300 (5).jpg" alt="avatar" />
					</div>
					<div class="user__name">
						<div class="user__data">
							<h4>{{ realName }}</h4>
							<small>{{ major }}</small>
							<small>{{ gender }}</small>
							<small>{{ phone }}</small>
						</div>
						
						
					</div>
				</div>
				<div class="user__message__preview">
					<p>{{ text }}</p>
				</div>
			</div>
			
		</div>
	</div>
</div>


{% endblock %}