{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../../static/inbox.css">

<div>
	<div class="inbox">
		<div class="heading">
			<h1>User Name Here</h1>
		</div>
		<div class="main__message view-height">
			
			<!-- <div class="user__message__wrapper">
				<div class="user__message">
					<div class="user__pic">
						<img src="img/300 (5).jpg" alt="avatar" />
					</div>
					<div class="user__name">
						<div class="user__data">
							<h4>John Cena</h4>
							<small>HIST 240</small>
						</div>
						<small>01 Nov 7:20am</small>
					</div>
				</div>
				<div class="user__message__preview">
					<p>Lets meet in the park!</p>
				</div>
			</div>
			<div class="user__message__wrapper">
				<div class="user__message">
					<div class="user__pic">
						<img src="img/300 (6).jpg" alt="avatar" />
					</div>
					<div class="user__name">
						<div class="user__data">
							<h4>Ramsey</h4>
							<small>CSC 240</small>
						</div>
						<small>09 Nov 2:29am</small>
					</div>
				</div>
				<div class="user__message__preview">
					<p>Thanks for your interest, I'll send you my virtual room link! </p>
				</div>
			</div> -->
		</div>
	</div>
</div>


{% endblock %}